# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries, APIs, and Datasets for Data Science
- Explore other languages used for Data Science
- Learn how to use RStudio and GitHub
- Learn how to use Jupyter Notebook for Projects

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Plotly
6. Scikit-Learn
7. PyTorch
8. Keras

These are the three open source development environment tools used in data science.

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|VS Code|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
7 + 2

9

In [2]:
x = 10

y  = 5

z = x + y
z

15

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author

Sejoro Mauton Zannu